

@import url('https://fonts.googleapis.com/css2?family= Crimson+Text & display = swap');

#ola{
    font-family: 'Crimson Text', serif;
    color: rgb(126, 139, 132);
    text-align: center;
    font-size: 50px;
}


h3{
    font-family: 'Crimson Text', serif;
}

p, h4{ 
    font-family: 'Crimson Text', serif;
    color: white;
}

li{
    color: #697150;
}

a:link, a:visited {
    color: #697150;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

strong{
    color: aliceblue;
}

body{
    background-color: #040405;
    text-align: center;
    margin: 30px;
}

.name{
    color: #697150;
    text-align: center;
}

.photo{
    position: absolute;
    top: 200px;
    padding: 75px 50px 75px 50px;
    box-sizing: border-box;
}

img{
    border-radius: 15px;
}

.apresentation{
    text-align: justify;
    position: absolute;
    width: 45%;
    top: 250px;
    left: 400px;
}

.skill{
    position: absolute;
    width: 100%;
    top: 700px;    
}

ol li:nth-child(odd){
    color: rgb(15, 103, 235);
}