@import url('https://fonts.googleapis.com/css2?family= Crimson+Text & display = swap');

body{
    background-color: black;
    text-align: justify;
    margin: 15px;
}

.header{
    font-family: 'Crimson Text', serif, sans-serif;
    color: white;
    text-align: center;
}

#ola{
    font-size:40px;
}

.name{
    text-align: center;
}

.nav{
    text-align: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center
  }

.photo{
    border-radius: 15px;
    border: 5px solid rgb(5, 5, 75);
}

.apresentation{
    color: white;
    font-family: 'Crimson Text', serif, sans-serif;
    padding-left: 20px;
}

a:link{
    text-decoration: none;
}

.skills{
   text-align: center;
}

.skill-1{
    color: white;
}

.skill-2{
    color: white;
}

.social{
    text-align: center;
}

.social a{
    color: white;
}

.flaticon{
    background-color: rgb(5, 5, 75);
    text-align: center;
    margin-top: 15px;
}

.flaticon a{
    color: white;
    max-width: min-content;
}
